{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<form method="post">
    <input name="email" placeholder="email">
    <input name="password" placeholder="password" >
    <input type="submit">
</form>
{% endblock %}
